.main-header {
  text-align: center;
  margin-bottom: 176px;
  margin-top: 213px;
  font-family: 'Italiana', serif;
  font-size: 128px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #000;
	align-items: center;
}