body {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	color: #333;
	margin-bottom: 40px;
}

.box {
	border: 2px solid;
	border-radius: 12px;
	border-color: #7c7b7b;
	align-items: center;
	width: 500px;
	height: 700px;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 20px 40px;
	border-radius: 12px;
}

.food {
	width: 400px;
	height: 70px;
	font-size: 24px;
	border: none;
	border-radius: 10px;
	background-color: #f3c494;
	color: white;
}

.food.selected {
	background-color: #F08315; 
}

.submit {
	width: 400px;
	height: 70px;
	font-size: 24px;
	border: none;
	border-radius: 10px;
	background-color: #f3c494;
	color: white;
	margin-top: 60px;
}

.submit.selected {
	background-color: #F08315; 
}