.post-page {
  max-width: 1440px;
  padding-left: 96px;
  padding-right: 96px;
  background-color: #fff;
  align-items: center;
}


.create-page {
	display: flex;
	flex-direction: column;
}


.upload-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 120px;
  margin-bottom: 24px;
  font-family: 'AppleBold', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

input[type="text"]{
  padding: 24px 46px;
  border: 1px solid #000;
  font-family: 'AppleRegular', sans-serif;
  font-size: 36px;
  font-weight: 500;
  text-align: start;
  justify-items: center;
  resize: vertical;
  height: auto;
}

small{
  font-family: 'AppleRegular', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #363636;
  margin-top: 12px;
}

.file-box {
  border: 1px solid #363636;
  padding: 76px 235px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: stretch;
  font-size: 36px;
  font-weight: 600;
  font-family: 'AppleSemiBold', sans-serif;
}

.file-box.uploaded {
  padding: 0;
  aspect-ratio: 3 / 4;
  max-width: 600px;
  overflow: hidden;
  border: none;
}

/* 업로드된 이미지 */
.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* 업로드 전 placeholder 영역 */
.file-placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  color: #666;
  gap: 16px;
}

.file-icon {
  width: 40px;
  height: auto;
}

.submit-button {
  margin-top: 240px;
  margin-bottom: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypc-button {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: start;
}

