.pagination {
  display: flex;
  justify-content: center;
  gap: 68px;
  align-items: center;
}

.page-number {
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
  font-family: 'AbhayaLibreRegular', sans-serif;
}

.page-number.active {
  text-decoration: underline;
}

.arrow {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.arrow:disabled {
  cursor: not-allowed;
}

.arrow-icon {
  width: 48px;
  height: 48px;
}
